<h1>Relacao de Books cadastrados</h1>
<div class="books-container">
    {{#each books}}
    <div>
        #{{this.id}} - 
        <span class="bold"> <a href="/books/{{this.id}}"> {{this.title}} </a> </span>
        - {{this.pageqty}} páginas
    </div>
    {{/each}}
        <a href="/" id="a-adicionar">Adicionar livro</a>
</div>